In [2]:
import pandas as pd
import numpy as np

# import biblioteka
import sys
sys.path.append("../../../functions") # go to parent dir
from biblioteka import get_format, format_date, print_LP_sold_offers, format_dfp_report

In [ ]:
[i if i in x else 'other_' for i in admlist] # list comprehension if else

In [2]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

In [6]:
s[0]

1

In [ ]:
s.iloc[:3] # slice the first three rows
s.loc[:3] # slice up to and including label 3

# https://stackoverflow.com/questions/31593201/how-are-iloc-ix-and-loc-different

In [ ]:
# groupby
dfc.groupby(['format', 'category', 'month', 'brand']).sum().reset_index()
dfagg = df.groupby(['Day', 'kropka']).agg({'Impressions': 'sum', 'Clicks': 'sum'}).reset_index() #many groups
dfg.groupby('date').agg({'seller_id': pd.Series.nunique}) # cnt distinct

# get one group
df.groupby(['A', 'B']).get_group(('bar', 'one'))

# group by count distinct
df.groupby('Month')['Client_Id'].nunique()

# groupby to list
df = pd.DataFrame( {'a':['A','A','B','B','B','C'], 'b':[1,2,5,5,4,6]})
df.groupby('a')['b'].apply(list)

Out[76]:
a
A       [1, 2]
B    [5, 5, 4]
C          [6]

In [ ]:
# SQL val IN ():
dfe5[dfe5['month'].isin(['November', 'October'])].head()

In [ ]:
# SQL like:
dfe['bice'][dfe['bice'].str.contains("&")]
result[~result['format'].str.contains('Parallax|Wallpaper')] # Parallax or Wallpaper

# replace part of the string
df.val.str.replace('HF -', 'Hi')
# replace whole value in Series
dfpl['CA_NAME_2'] = dfpl['CA_NAME_2'].apply(lambda x: x if x != '' else 'None') #lol

In [ ]:
# return two columns
def foo(row):
    return pandas.Series({"X": row["A"]+row["B"], "Y": row["A"]-row["B"]})

>>> d.apply(foo, axis=1)

In [ ]:
# sorting df
df.sort_values('month')
df.sort_values(['format', 'transactions_count'])

In [ ]:
# rename column
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True) #inplace if change on this df

In [ ]:
# merge = sql join
df_all = pd.merge(df, display, on=['lineitemid', 'creativeid'], how='outer')
pandas.merge(df1, df2, how='left', left_on=['id_key'], right_on=['fk_key'])

# pd.merge VS pd.join:
result = left.join(right, how='inner') # need to .set_index!
# This same behavior can be achieved using merge plus additional arguments instructing it to use the indexes:
result = pd.merge(left, right, left_index=True, right_index=True, how='outer')

# concat jedno na drugie [daje mu liste]
pd.concat([dfp[['lineitemid', 'creativeid', 'format', 'impressions', 'clicks']],
            dfs[['lineitemid', 'creativeid', 'format', 'impressions', 'clicks']]
            ])

# concat strings
pdict['Key-values'] = pdict.hash.map(str) + '=' + pdict.profile_value

In [ ]:
list(df) # gives list of column names
result_dfp.columns.tolist() # albo tak

sorted(list(df_click['format'].unique())) # give distinct values
cat_dict = cat_dict[['CA_ID_1', 'CA_NAME_1']].drop_duplicates() #distinct df rows

df.value_counts() # -> szybki count group by = liczebność powtórzeń tylko na Series! Nie na DF!
df.groupby(['Format', 'Category']).count()

In [ ]:
# NULLE i NaNy
df.isnull()
df.notnull()

In [ ]:
# formatting
dfc['gmv'].apply(lambda x: float(x.replace(',', '.')))
df[['quant', 'tranzakcje']].astype(float) ##zwraca NaNy????

In [ ]:
# odpal funkcję na Serii / na DF
df['category'] = df['bim'].apply(lambda x: get_category(x))
df['brand'] = df.apply(get_brand, axis=1)
dimps = format_dfp_report(dimps)

In [ ]:
# Partition over and row_number
cohorts['Period'] = cohorts.sort_values(['Month'], ascending=[True]) \
             .groupby(['cohort_group']) \
             .cumcount() + 1

In [ ]:
# cumsum distincts. Np: ilość użytkowników, którzy się zapisują po dniach
df7.groupby('v_date_local_daily').buyer_id.nunique().cumsum()

In [ ]:
# having
result.groupby(['Creative ID']).filter(lambda x: len(x) == 2) # having count(*) = 2

In [ ]:
# subtract
display[~display['Creative ID'].isin(gmv_all['Creative ID'])] # dziala
# cos od Peter: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.subtract.html

In [ ]:
df = pd.read_csv('Smart_showcase_pv.csv', sep=';')
df.to_csv('result.csv', sep='\t', encoding='utf-8', index=False)
cat_dict = pd.read_csv('tabelka_kategorii_1i2rz.csv', \
                       dtype={'CA_ID_1': np.int32, 'CA_NAME_1': object, 'CA_ID_2': np.float64, 'CA_NAME_2': object})

bslogo = pd.read_csv('Display_pazdziernik_bslogo.csv', sep='\t').fillna(0).astype({"Impressions": int, "Clicks": int})
df.fillna({'a':0,'b':0}) # only selected columns

In [ ]:
# Series to list
url_list = df.tolist()

In [ ]:
#ciekawostka - pivot, ale nie robi tego, co chcę (column agg = imps,...,clicks,... :/)
table = pd.pivot_table(dfe8, values=['Total ad impressions', 'Total clicks'],
                    index=None, columns=['format', 'category', 'month', 'brand'], aggfunc='sum').reset_index()

In [ ]:
#tez ciekawostka
dfe = dfe.append(dfe8[['format', 'category', 'month', 'brand', 'Total ad impressions', 'Total clicks']] \
    .groupby(['format', 'category', 'month', 'brand']).sum().reset_index())

In [ ]:
# drop column
df = df.drop(['Click-through URL'], axis=1)

# Pivoty

In [23]:
d = {'brands': ['durex', 'durex', 'scholl', 'scholl'], 
     'color': ['gold', 'bronze', 'gold', 'silver'], 
     'users': [3, 4, 5, 6], 'money': [1000, 3000, 2000, 8000]}
df = pd.DataFrame(data=d)
df.head()

   brands   color  money  users
0   durex    gold   1000      3
1   durex  bronze   3000      4
2  scholl    gold   2000      5
3  scholl  silver   8000      6

In [24]:
df.pivot(index='brands', columns='color', values='users')

color   bronze  gold  silver
brands
durex      4.0   3.0     NaN
scholl     NaN   5.0     6.0

In [25]:
pd.set_option('display.multi_sparse', False) # rozbija dziwnie te multi-indexy
df.pivot(index='brands', columns='color')

         money   money   money  users users  users
color   bronze    gold  silver bronze  gold silver
brands
durex   3000.0  1000.0     NaN    4.0   3.0    NaN
scholl     NaN  2000.0  8000.0    NaN   5.0    6.0

In [37]:
# to aggregate duplicates: here mean
df.pivot_table(index='brands', columns='color', values='users', aggfunc=np.mean)

color   bronze  gold  silver
brands
durex      4.0   3.0     NaN
scholl     NaN   5.0     6.0

In [ ]:
# pivot raport
pivotdfp = pd.pivot_table(gmv, index=['order_id','line_item_id','creative_id'], columns ='action')

In [ ]:
pd.melt # unpivots df

In [ ]:
df.stack() , df.unstack() # przerzuca podkolumny między x i y
# https://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

In [ ]:
# change value in df
gmv.at[6, 'order_id'] = 'PG_Pampers_ReklamaTV'

#df.loc[df[<some_column_name>] == <condition>, [<another_column_name>]] = <value_to_add>
fdf.loc[fdf[('Display', 'Line item')] == 'Showcase_MOBILE_MP', ('Transactions', 'all')] = 26

# znajduje row po wartościach w indexie:
fdf.loc[[('Henkel_Cleaning_2019', 'Showcase_MOBILE_MP')]]

In [ ]:
# stackoverflow Multiindexy
import numpy as np

arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df2 = pd.DataFrame(np.random.randn(3), index=['A', 'B', 'C'],columns=['w'])
df3 = df.join(df2)

#example
disp_all = disp_all.set_index(['order_id','line_item_id','creative_id'])
disp_all.columns = pd.MultiIndex.from_product([['Display'], disp_all.columns])
result_all = disp_all.join(pivotall, how='outer').reset_index()

In [ ]:
# plot
df.plot(x='Day', y='Impressions', kind='bar', rot=90, figsize=(20,7))
logo.plot(x='day', y=['boxView', 'click'], kind='bar', rot=90, figsize=(20,7))
df.hist(column='eCPM', bins=40)
df.plot.scatter(x='CTR', y='eCPM')
df.plot(kind='density', rot=90, figsize=(10,4), title='devoxx polska 2017', bw_method=0.15,
                          xticks=[0, 2500, 5000, 7500, 10000], xlim=(0,10000))
sa.plot(y='ratio', kind='pie',  figsize=(4,4))
# bar plot labels on top of the bar: 
# https://stackoverflow.com/questions/23591254/python-pandas-matplotlib-annotating-labels-above-bar-chart-columns/34598688

In [ ]:
# lepsszy boxplot
ax = sns.violinplot(x=df_diff_dates['diff_dt'], color='#cc4c02')

In [ ]:
# correlation
from scipy.stats.stats import pearsonr

features_list = new.columns[1:]
for x in features_list:
    print('Variable: {}, Correlation: {:.2f}'.format(x, pearsonr(new['eCPM'].astype(float), new[x].astype(float))[0]))

In [ ]:
# concat with dummies
format_matrix = pd.get_dummies(df['Format'])
new = pd.concat([df[['eCPM','category','profile','CTR', 'Rate']], format_matrix, brand_matrix], axis=1)

In [ ]:
# assign robi nową kolumnę
df_x = (pd.DataFrame(df_events['path_fin'].value_counts())
        .rename(columns={'index':'path', 'path_fin':'path_cnt'})
        .assign(ratio_cum = lambda x: x['ratio'].cumsum())
        .rename(columns={'path':'Ścieżka', 'path_cnt':'Liczba ścieżek', 'ratio':'% udział', 'ratio_cum':'% skumulowany'})
       )

# top 10 ścieżek zakupowych 
df_x.head(10).style.format({'% udział':"{:.2f}"+"%", '% skumulowany':"{:.2f}"+"%"})

In [ ]:
# pandas array to columns :D
{'bi_s': ['reklama'], 'bi_m': ['HalfPage'], 'bi_c': ['Strefa_Fisher_Price'], 
 'bi_cat': ['11763'], 'string': ['lusterko samochodowe dla dziecka'], 'order': ['m'], 
 'bmatch': ['baseline-cl-pn-aut-1-1-1017'], 'p': ['2']} 

df['atrs'].apply(pd.Series) # > out: every key in a column
df['atrs'].apply(pd.Series).notnull().sum() # licznosci notnull/isnull

In [ ]:
# stylowanie describa :D
orders_dataset[['orders_cnt', 'gmv', 'delivery_cost', 'users_cnt']].describe().T.style.format({'mean':'{0:,.2f}'})
# albo
tns['Transactions'].describe().apply(lambda x: format(x, 'f'))
# select measures
br_in.describe().loc[['min','25%','50%','75%','max']]

# get quantile every 0.1
qntiles = [i/10 for i in range(0,11,1)]
tns['Transactions'].quantile(q=qntiles)

In [ ]:
# to pickle > nieedytowalna binarka
import pickle
import os

task_id = 'B-29'

ple.to_pickle('styczen_gmv.pkl')
os.system('hdfs dfs -put -f reckit_styczen_gmv.pkl /projects/{task_id}/styczen_gmv.pkl'.format(task_id=task_id))

# ponoc potem read_pickle

In [ ]:
# pandas to jira lol
import tabulate
print(tabulate.tabulate(df, tablefmt='jira'))

In [ ]:
`tips = sns.load_dataset('tips')`
`df_tips = spark.createDataFrame(tips)`

`df_tips.repartition(10).write.mode('overwrite').parquet('/user/somebody/df_tips')`

In [ ]:
# pamięć
https://www.dataquest.io/blog/pandas-big-data/
    
# a miałem ostatnio sporą macierz i wymuszenie dtype 'float16' zamiast 'float64' dało sporą oszczędność pamięci
- driver memory - tak jak pisał @lukasz.knade ustaw na '5g'
- ustaw max pamięci na memory executora, by z overheadem sumował się do '15g'
- wydaje mi się, że warto zmniejszyć ilość rdzeni do 2; każdy rdzeń dodatkowo dzieli pamięć

print(sys.getsizeof(twoj_df)/float(1024**2), 'MB')
df.info(memory_usage=‘deep’)

# wielkość stringa
from sys import getsizeof
s = 'working out'
print(getsizeof(s))

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Time_to_transaction-june.xlsx', engine='xlsxwriter')
# Convert the dataframe to an XlsxWriter Excel object.
a.to_excel(writer, sheet_name='post click vs view', startrow=0)
b.to_excel(writer, sheet_name='kubełki', startrow=0)
c.to_excel(writer, sheet_name='click to tra', startrow=0)
writer.save()

In [1]:
# Cudo
# https://stackoverflow.com/questions/49347002/pandas-count-rows-within-time-moving-window

import pandas as pd
d = [{'col1' : ' B', 'col2' : '2015-3-06 01:37:57'},
       {'col1' : ' A', 'col2' : '2015-3-06 01:39:57'},
       {'col1' : ' A', 'col2' : '2015-3-06 01:45:28'},
       {'col1' : ' B', 'col2' : '2015-3-06 02:31:44'},
       {'col1' : ' B', 'col2' : '2015-3-06 03:55:45'},
       {'col1' : ' B', 'col2' : '2015-3-06 04:01:40'}]
df = pd.DataFrame(d)
df['col2'] = pd.to_datetime(df['col2'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
col1    6 non-null object
col2    6 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 176.0+ bytes

In [2]:
dt = pd.Timedelta(10, unit='m')
print(dt)

0 days 00:10:00

In [4]:
def count1(row):
    id1 = row['col1']
    start_time = row['col2'] - dt
    end_time = row['col2']
    mask = (df['col1'] == id1) & ((df['col2'] >= start_time) & (df['col2'] <= end_time))
    return df.loc[mask].shape[0]

df['count1'] = df.apply(count1, axis=1)

df

  col1                col2  count1
0    B 2015-03-06 01:37:57       1
1    A 2015-03-06 01:39:57       1
2    A 2015-03-06 01:45:28       2
3    B 2015-03-06 02:31:44       1
4    B 2015-03-06 03:55:45       1
5    B 2015-03-06 04:01:40       2